<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>作用域插槽使用</title>
  <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>

  <!-- 使用插槽 -->
  <div id="app"> 
    <!-- <myone>插槽内容增加slot属性</myone>    -->
    
    <myone>
      <template slot-scope="slot">            
      <span>{{slot.Mes}}</span>
      <span v-for='item in slot.Mes'>{{item}}</span>
      </template>
    </myone>   
    <!-- 插槽不同内容 -->
    <!-- <myone></myone> -->
  </div>
  <!-- 创建模板增加多个插槽写名字 -->
  <template id="d1">
    <div>
    <slot :Mes='mes'>
      <ul>
        <li v-for='item in mes'>{{item}}</li>
      </ul>
    </slot>
    </div>
  </template>


  <script>
 const myone = {
   template:'#d1',
   data () {
     return {
      mes:['c','c++','java','c#']
     }
   }
  
 }
  // 创建实例
  const one = new Vue({
    el:'#app',
    data:{
      
         
    },  
    components: {
      myone      
     }   
  })
</script>

</body>
</html>